/* .centrado {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
} */
.border {
  box-shadow: 0px 4px 15px rgba(7, 1, 20, 0.747);
  background: rgba(0, 0, 0, 0.397);
  margin-top: 3rem;
}
.margin {
  margin: 5%;
  align-items: center;
}
.border {
  border-radius: 15px;
  /* background: #042b19ad; */
}
.colo-text {
  color: #fff;
}

.color-black {
  color: black;
}
body {
  background-color: rgba(15, 46, 63, 1);
}
.size-conteiner {
  width: 100%;
}
.size-cont-data {
  width: 80%;
  height: 70rem;
  border-style: solid;
  margin-top: 10%;
}

.bg-dark {
  background-color: white;
  margin-top: 0.5%;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-brand-color {
  color: #fff;
}

.text-center {
  text-align: center;
}

.hide {
  display: block;
}

.imge {
  width: 1100px;
  height: 450px;
}

/*estilos para datos de una peli*/
.left-datos {
  padding-left: 10%;
}

@media (min-width: 320px) {
  /* Bump up size of carousel content */
  .imge {
    width: 320px;
    height: 170px;
  }
}

@media (min-width: 360px) {
  /* Bump up size of carousel content */
  .imge {
    width: 360px;
    height: 200px;
  }
}

@media (min-width: 768px) {
  .imge {
    width: 768px;
    height: 430px;
    /* background: white; */
  }
  .color-cont-data {
    background: rgba(73, 177, 146, 0.89);
    width: 90rem;
    border-radius: 10px;
  }
  .margin {
    margin: 2%;
  }
}

/* FOOTER 2 -BOTONES */
.fa {
  padding: 0.8%;
  width: 35px;
  border-radius: 50%;
  text-align: center;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3b5998;
  color: white;
}

.fa-twitter {
  background: #55acee;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #c7033e;
  color: white;
}
